<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

       


            

        #workshops {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
            background-color: white;
        }

        .workshop {
            width: 300px;
            margin: 20px;
            text-align: center;
           
        }

            .workshop img {
                width: 100%;
                height: auto;
            }

            .workshop p {
                margin-top: 10px;
            }

        .section-header {
            margin-top: 100px;
            position: relative;
            padding-bottom: 20px;
        }

            .section-header::before {
                content: '';
                position: absolute;
                display: block;
                width: 60px;
                height: 5px;
                background: #f82249;
                bottom: 0;
                left: calc(50% - 25px);
            }

            .section-header h2 {
                font-size: 36px;
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .section-header p {
                text-align: center;
                padding: 0;
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                color: #9195a2;
            }
    </style>
</head>
<body>
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
        <img class="w3-image" src="/img/workshop.jpg" alt="Scuba Diving" width="1600" height="800">

    </header>
	<div class=" w3-center" id="events">
	<div class="section-header">
		<h2>workshops</h2>
	</div>
	</div>
	<div id="workshops">
		
		<div class="workshop">
			
            <img src="~/img/workshop8.jpg" alt="Workshop 1">
            <p>Brief description of Workshop 1</p>
        </div>

        <div class="workshop">
            <img src="~/img/workshop7.jpg" alt="Workshop 2">
            <p>Brief description of Workshop 2</p>
        </div>

        <div class="workshop">
            <img src="~/img/workshop5.jpg" alt="Workshop 3">
            <p>Brief description of Workshop 3</p>
        </div>

        <div class="workshop">
            <img src="~/img/workshop4.png" alt="Workshop 4">
            <p>Brief description of Workshop 4</p>
        </div>
        <div class="workshop">
            <img src="~/img/workshop3.png" alt="Workshop 1">
            <p>Brief description of Workshop 1</p>
        </div>

        <div class="workshop">
            <img src="~/img/workshop2.png" alt="Workshop 2">
            <p>Brief description of Workshop 2</p>
        </div>

        <div class="workshop">
            <img src="~/img/workshop6.jpg" alt="Workshop 3">
            <p>Brief description of Workshop 3</p>
        </div>

        <div class="workshop">
            <img src="~/img/workshop10.png" alt="Workshop 4">
            <p>Brief description of Workshop 4</p>
        </div>

    </div>

</body>
</html>
